<h1>Создание новости</h1>
<form id="form">
	<div class="mb-3">
		<label for="titleInput" class="form-label">Заголовок</label>
		<input class="form-control" name="title" id="titleInput">
	</div>
	<div class="mb-3">
		<label for="descriptionInput" class="form-label">Описание</label>
		<textarea class="form-control" name="description" id="descriptionInput" rows="3"></textarea>
	</div>
	<div class="mb-3">
		<label for="authorInput" class="form-label">Автор</label>
		<input class="form-control" name="author" id="authorInput">
	</div>
	<div class="form-group">
		<label for="cover">Обложка новости</label>
		<input type="file" class="form-control-file" name="cover" id="cover">
	</div>
	<button type="button" class="btn btn-primary" onclick="sendForm()">Создать</button>
</form>
<script>
	async function sendForm() {
		const form = document.querySelector('#form');
		const data = new FormData(form);
		const response = await fetch('/news', {
        method: 'POST',
        body: data
      });
		window.location.href='/news/all';
	}
</script>
